@charset "UTF-8";

/* リセット */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 全体設定 */
body {
    font-family: sans-serif;
    background: #fff;
    color: #333;
    padding-bottom: 80px; /* bottom-navのスペース確保 */
}

/* コンテナ */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

/* アイコン */
.profile-icon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #ffb6b6;
    overflow: hidden;
    border: 3px solid #000;
}

.profile-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 情報エリア */
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.namecgbtn, .logoutbtn {
    padding: 10px 20px;
    background: #515151;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* ナビゲーションバー */
.bottom-nav {
    position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: #fafafa;
	border-top: 1px solid #000;
}

/* ナビアイテム */
.nav-item {
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4px;
}

/* ホバー */
.nav-item:hover {
    background: #aca4ff;
}

/* アイコン */
.nav-icon {
    width: 24px;
	height: 24px;
	object-fit: contain;
}

/* 現在地 */
.nav-item.active {
    background: #ddd;
    pointer-events: none;
}