.grid_test {
    display: grid;  /* グリッドコンテナを作る */
    grid-template-columns:1fr 1fr 1fr 1fr;      /* 縦向きのグリッドラインを決める */
    grid-template-rows:1fr 1fr 1fr 2fr;         /* 横向きのグリッドラインを決める */
}
.grid_test-child:nth-child(1) {
    grid-column:1;    /* 配置指定 */
    grid-row:1;       /* 配置指定 */
}
.grid_test-child:nth-child(2) {
    grid-column:4;    /* 配置指定 */
    grid-row:1;       /* 配置指定 */
}
.grid_test-child:nth-child(3) {
    grid-column:2/4;    /* 配置指定 */
    grid-row:2;       /* 配置指定 */
    place-items: center;
}
.grid_test-child:nth-child(4) {
    grid-column:2/4;    /* 配置指定 */
    grid-row:3;       /* 配置指定 */
}
.grid_test-child:nth-child(5) {
    grid-column:4;    /* 配置指定 */
    grid-row:3;       /* 配置指定 */
}
.grid_test-child:nth-child(6) {
    grid-column:1/4;    /* 配置指定 */
    grid-row:4/5;       /* 配置指定 */
}
.grid_test-child:nth-child(7) {
    grid-column:2/4;    /* 配置指定 */
    grid-row:1;       /* 配置指定 */
    place-items: center;
}
.error{
    color: red;
}

.text{
  width: 80%;
}
.new{
  place-items: center;
}

/* チェックボックスを非表示にする */
.drawer_hidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer_open {
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;/* 重なり順を一番上にする */
  cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #333;
  transition: 0.5s;
  position: absolute;
}

/* 三本線の一番上の棒の位置調整 */
.drawer_open span:before {
  bottom: 8px;
}

/* 三本線の一番下の棒の位置調整 */
.drawer_open span:after {
  top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer_input:checked ~ .drawer_open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer_input:checked ~ .drawer_open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawer_input:checked ~ .drawer_open span::after {
  top: 0;
  transform: rotate(-45deg);
}
  
/* メニューのデザイン*/
.nav_content {
  width: 10%;
  height: 100%;
  position: fixed;
  top: 25px;
  right: 110%; /* メニューを画面の外に飛ばす */
  z-index: 99;
  background: #fff;
  transition: .5s;
}

/* メニュー黒ポチを消す */
.nav_list {
  list-style: none;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked ~ .nav_content {
  left: 0;/* メニューを画面に入れる */
}

/*
    .grid_test-child:nth-child(1) {
        background-color:  #7b9ad0;     
    }
    .grid_test-child:nth-child(2) {
        background-color:  #c8d627;     
    }
    .grid_test-child:nth-child(3) {
        background-color:  #d5848b;     
    }
    .grid_test-child:nth-child(4) {
        background-color:  #51a1a2;    
    }
    .grid_test-child:nth-child(5) {
        background-color:  #66b7ec;    
    }
    .grid_test-child:nth-child(6) {
        background-color:  #56c7ec;    
    }
	*/