@charset "UTF-8";

body {
	display:flex;
	flex-direction: column;
	align-items: center;
}

.schedule-input {
  width: 400px;
  height: 40px;
  font-size: 16px;
  padding: 8px 12px;
  box-sizing: border-box; /* ← 超重要 */
}




.container {
  width: 600px;
  border: 2px solid #4caf50;
  padding: 20px;
}

.back {
  text-decoration: none;
  color: #4caf50;
  font-size: 14px;
}

h1 {
  border: 2px solid #4caf50;
  padding: 10px;
  margin-top: 10px;
}

.period {
  border: 2px solid #4caf50;
  padding: 10px;
  margin-top: 10px;
}

.staff {
  border: 2px solid #4caf50;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.add-staff {
  margin-top: 10px;
}

textarea {
  width: 100%;
  height: 150px;
  margin-top: 10px;
}

.submit {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  font-size: 18px;
}
.ym button {
  font-size: 18px;
  padding: 4px 10px;
  cursor: pointer;
}