@charset "UTF-8";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

 .schedule-input {
  width: 400px;
  height: 40px;
  font-size: 16px;
  padding: 8px 12px;
  box-sizing: border-box; /* ← 超重要 */
}




.container {
  width: 100%;
  max-width: 620px;   /* ← ここが肝（スマホ縦幅） */
  min-height: 100vh;

  margin: 0 auto;     /* 中央寄せ */
  padding: 16px;

  border: 2px solid #4caf50;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  align-items: center;
  width: 100%;
}
.back {
  text-decoration: none;
  color: #4caf50;
  font-size: 14px;
}


.delete {
  margin-left: auto;
  text-decoration: none;
  color: #f44336;
  font-weight: bold;
}

h1 {
  border: 2px solid #4caf50;
  padding: 10px;
  margin-top: 10px;
}

.period {
  border: 2px solid #4caf50;
  padding: 10px;
  margin-top: 10px;
}

.staff {
  border: 2px solid #4caf50;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.add-staff {
  margin-top: 10px;
}

textarea {
  width: 100%;
  flex-grow: 1;
  resize: none;
}

.submit {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  font-size: 18px;
}
.ym button {
  font-size: 18px;
  padding: 4px 10px;
  cursor: pointer;
}